body {
    background-image: url(./Images/ABCBackground.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}

#restart {
    font-size: 20px;
    color: white;
    background-color: rgb(149, 79, 149);
    width: 150px;
    height: 50px;
    border: 1px solid rgb(149, 79, 149);
}

#shuffle {
    font-size: 20px;
    color: white;
    background-color: rgb(149, 79, 149);
    border: 1px solid rgb(149, 79, 149);
    width: 150px;
    height: 50px;
}

header {
    align: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.backbutton {
    height: 200px;
    width: 200x;
}

.back-face {
    height: 200px;
    width: 200px;
}

img {
    height: 200px;
    width: 200px;
    justify-content: center;
    align: center;
}

header {
    text-align: center;
    color: rgb(11, 80, 145);
    font-size: 60px;
    margin-top: 50px;
}

#controls {
    text-align: center;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;

}

.backbutton {
    border: 3px solid gold;
    background-color: white;
    background-size: 100%;
}

.backbutton img {
    max-width: 100%;
    max-height: 100%;
}

#buttons {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
}

span {
    font-size: 30px;
}
