.backbutton {
    height: 70px;
    width: 70x;
}
.back-face {
    height: 69px;
    width: 69px;
}
img {
    height: 69px;
    width: 69px;
}

/* .back-face {
    height: 29px;
    width: 29px;
}
#button {
    height: 29px;
    width: 29px;
}
.front-face {
    height: 29px;
    width: 29px;
}

img {
    height: 29px;
    width: 29px;
} */
